@import url('https://db.onlinewebfonts.com/c/9b62dc86f936227b3f7b367bd0b6c05e?family=Tw+Cen+MT');
@import url('https://fonts.googleapis.com/css2?family=REM:wght@300&family=Space+Grotesk&family=Titillium+Web:wght@600&display=swap');
* {
    padding: 0;
    margin: 0;
}

html, body {
    box-sizing: border-box;
    height: 100%;
    /* width: 100%; */
    /* overflow-y: hidden; */
}   

html::-webkit-scrollbar {
    display: none;
}

:root {
    --default-white-color: #ffffff;
    --default-black-color: #000000;
    --home-background-color: #0D0D0D;
    /* --home-background-color: #222222; */
    --skills-background-color: #CB1A2C;
    --projects-background-color: #1D1E4E;
    --faded-title-color: #222222;

    --text-color: #f0f0f0;
    --background-color: #ffffff;
    --primary-color: #595959;
    --secondary-color: #1f1f1f;
    --accent-color: #FAA916;
}

.dark {
    --text-color: #f0f0f0;
    --background-color: #07070A;
    --primary-color: #595959;
    --secondary-color: #1f1f1f;
    --accent-color: #595959;
}

/* .cream {
    --text-color: #1f1f1f;
    --background-color: #fefae0;
    --primary-color: #1f1f1f;
    --secondary-color: #1f1f1f;
    --accent-color: #1f1f1f;
} */

.purple {
    --text-color: #f0f0f0;
    --background-color: #662C91;
    --primary-color: #07070A;
    --secondary-color: #07070A;
    --accent-color: #FAA916;
}

@font-face {
    font-family: "Aadil";
    src: url("../Fonts/Aadil.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/*============== Body Globals ==============*/

section {
    /* width: 100vw; */
    height: 100%;
    overflow: hidden;
}

section#home {
    display: grid;
    justify-items: end;
    background-color: var(--background-color);
}

section#skills {
    background-color: var(--background-color);
}

section#projects {
    background-color: var(--background-color);
}

section#popup-projects {
    background-color: var(--background-color);
}

.wraper {
    width: 80%;
    margin: auto;
    padding-top: 4rem;
}

.title {
    height: 250px;
    overflow: hidden;
    position: relative;
}

.front {
    color: var(--default-white-color);
    position: absolute;
    font-family: 'Titillium Web', sans-serif;
    z-index: 2;
    top: 0.95em;
    left: 0.5em;
    font-size: 7rem;
    transform: translateX(-500px);
}

.title-text.front.show {
    transform: translateX(-500px);
    animation: frontSlideIn 1s ease-in-out 0.2s forwards;
}
.title-text.front.hide {
    transform: translateX(0);
    animation: frontSlideOff 1s ease-in-out forwards;
}

.back {
    color: var(--faded-title-color);
    font-size: 18rem;
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    z-index: 1;
    transform: translateY(150px);
}

.title-text.back.show {
    transform: translateY(150px);
    animation: backSlideUp 1s ease-in-out 0.2s forwards;
}
.title-text.back.hide {
    transform: translateY(0);
    animation: backSlideOff 1s ease-in-out forwards;
}

.urdu {
    color: var(--accent-color);
    position: absolute;
    font-family: Aadil;
    direction: rtl;
    font-size: 7rem;
    top: 0.95em;
    left: 3.5em;
    z-index: 1;
    transform: translateX(700px);
}

.title-text.urdu.show {
    transform: translateX(700px);
    animation: urduSlideIn 1s ease-in-out 0.2s forwards;
}
.title-text.urdu.hide {
    transform: translateX(0);
    animation: urduSlideOff 1s ease-in-out forwards;
}

@keyframes urduSlideIn {
    0% {
      transform: translateX(700px);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes urduSlideOff {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(700px);
    }
}

@keyframes frontSlideIn {
    0% {
      transform: translateX(-500px);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes frontSlideOff {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-500px);
    }
}

@keyframes backSlideUp {
    0% {
      transform: translateY(150px);
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes backSlideOff {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(150px);
    }
}

/*============== Home ==============*/
section#home header {
    /* background-color: #0d0d0da3; */
    width: 100%;
    position: fixed;
    z-index: 3;
}
section#home header #header_wraper {
    width: 80%;
    margin: auto;
    padding: 40px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
}

section#home header #header_wraper h2 {
    color: var(--default-white-color);
    font-family: Tw Cen MT;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}
section#home header #header_wraper #menu {
    display: flex;
    /* justify-content: center; */
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--secondary-color);
}

.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.9em;
    width: 100%;
}

.link-container a {
    color: var(--text-color);
    font-family: Tw Cen MT;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.active-page {
    background-color: var(--accent-color);
}

.active-page a {
    color: var(--text-color);
}

section#home #content {
    width: 75%;
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    /*justify-items: center;*/
    align-content: center;
    align-items: center;
}

section#home #content #profile_picture {
    /* background-image: url("../Images/profile.jpg"); */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    background-color: #1E1E1E;
    border-radius: 10px;
}

section#home #content #details {
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-column-gap: 20px;
    align-items: center;
    color: #ffffff;
}

section#home #content #details #bio {
    margin-left: 50px;
    /* font-family: 'REM', sans-serif; */
    font-family: 'Titillium Web', sans-serif;
}

section#home #content #details #bio #name-container {
    height: 50px;
    overflow: hidden;
}

section#home #content #details #bio #name-container .name {
    color: var(--accent-color);
    font-family: 'Space Grotesk', sans-serif;
    font-size: 50px;
    animation: move 4.5s infinite;
}

section#home #content #details #bio #job {
    width: fit-content;
    position: relative;
    margin-top: 5px;
    overflow: hidden;
}

section#home #content #details #bio #job .block {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 30px;
    background-color: #CB1A2C;
    animation: slideOn 4.5s infinite;
}

section#home #content #details #bio span#country {
    color: var(--accent-color);
    /* font-family: Tw Cen MT; */
    font-family: 'Space Grotesk', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
}

section#home #content #details #bio button {
    width: 100px;
    height: 40px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 45px;
}

section#home #content #details #bio button:hover {
    cursor: pointer;
}

section#home #content #details #bio #contact_me {
    width: 130px;
    color: var(--text-color);
    background-color: var(--secondary-color);
}

section#home #content #details #bio #resume {
    background-color: var(--accent-color);
    color: var(--background-color);
    margin-left: 20px;
}

section#home #content #details #social_media {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

section#home #content #details #social_media .icon {
    color: var(--accent-color);
    font-size: 3rem;
    margin: 15px;
}

section#home #content #details #social_media .icon:hover {
    cursor: pointer;
}

@keyframes move {
    25% {
      transform: translatey(-70px);
      opacity: 1;
    }
    50% {
      transform: translatey(-143px);
    }
    /* 75% {
      transform: translatey(-210px);
    } */
}

section#home #themes {
    display: grid;
    grid-template-rows: 1fr 4fr 2fr;
    justify-items: center;
    height: 100vh;
    position: fixed;
    color: white;
    /* background-color: #CB1A2C; */
}

section#home #themes h1 {
    writing-mode: vertical-lr;
    rotate: 180deg;
    font-size: 40px;
    padding: 20px;
    font-family: "Titillium Web", sans-serif;
}

section#home #themes .color-schemes {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
}

section#home #themes .color-schemes .color {
    width: 50px;
    height: 50px;
    background-color: chocolate;
    border-radius: 50%;
}

/*============== Skills ==============*/

section#skills .wraper .skillsets {
    /*background-color: rebeccapurple;*/
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

section#skills .wraper .skillsets .icon-wraper .title-icon {
    font-size: 55px;
    color: var(--default-white-color);
}

section#skills .wraper .skillsets .icon-wraper h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 32px;
    color: var(--default-white-color);
    margin-top: 15px;
}

section#skills .wraper .skillsets .icon-wraper .icon {
    color: var(--accent-color);
    font-size: 60px;
    background-color: #1E1E1E;
    padding: 20px;
    border-radius: 10px;
}

section#skills .wraper .skillsets .icon-wraper .icon:not(i:nth-of-type(1),i:nth-of-type(5)) {
    padding: 20px 25px;
}

section#skills .wraper .skillsets .icon-wraper i:not(i:nth-of-type(1), i:nth-of-type(2)) {
    margin: 15px 0 0 20px;
}

/*============== Projects ==============*/

section#projects .wraper .title .urdu {
    left: 5em;
}

section#projects .wraper #projects_card {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    height: 60vh;
}

section#projects .wraper #projects_card .card {
    background-image: url("../Images/cover1.jpg");
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    overflow: hidden;
    width: 97%;
    height: 55%;
    /* padding: 20px; */
    /* text-align: center; */
    border-radius: 10px;
    /* background-color: #1E1E1E; */
}

section#projects .wraper #projects_card .card .cover {
    height: 55%;
}

section#projects .wraper #projects_card .card .details-options {
    box-sizing: border-box;
    height: 45%;
    background-color: #00000071;
    padding:  10px 0 0 20px;
    border-radius: 10px 10px 0 0;
}

section#projects .wraper #projects_card .card .details-options h2 {
    color: var(--default-white-color);
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
}

section#projects .wraper #projects_card .card .details-options button {
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 0 15px;
    margin: 10px 10px 0 0;
    font-size: 15px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    color: var(--default-white-color);
    background-color: var(--secondary-color);
}

section#projects .wraper #projects_card .card .details-options button:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}


/*============== Popup Projects ==============*/

section#popup-projects {
    padding: 50px;
}

section#popup-projects h1 {
    font-size: 50px;
    color: var(--text-color);
}

section#popup-projects .icons {
    color: var(--text-color);
    font-size: 45px;
}



@media (max-width: 390px) {

    section {
        height: auto;
    }

    .wraper {
        width: 90%;
        margin: auto;
        padding-top: 40%;
    }
    
    .title {
        height: 85px;
        overflow: hidden;
        position: relative;
    }
    
    .front {
        top: 0.7em;
        left: 0em;
        font-size: 2.5rem;
    }
    
    .back {
        /* display: none; */
        font-size: 6rem;
    }
    
    .urdu {
        font-size: 2.5rem;
        top: 0.7em;
        left: 5.6em;
    }

    /*============== Home ==============*/

    section#home header #header_wraper {
        padding: 30px 0 0 0;
        display: block;
    }

    section#home header #header_wraper h2 {
        margin-bottom: 20px;
        font-size: 28px;
        text-align: center;
    }

    section#home #content {
        width: 90%;
        height: auto;
        display: block;
        padding-top: 43%;
    }
    
    section#home #content #details {
        display: block;
    }
    
    section#home #content #details #bio {
        margin-top: 25px;
        margin-left: 0;
    }

    section#home #content #details #bio #name-container {
        height: 32.5px;
    }

    section#home #content #details #bio #name-container .name {
        font-size: 32.5px;
    }
    
    section#home #content #details #bio #job {
        margin-top: 0;
    }
    
    section#home #content #details #bio span#country {
        font-size: 20px;
    }
    
    section#home #content #details #bio button {
        height: 50px;
        margin-top: 25px;
    }
    
    section#home #content #details #bio #contact_me {
        width: 46%;
    }
    
    section#home #content #details #bio #resume {
        width: 46%;
        margin-left: 20px;
    }
    
    section#home #content #details #social_media {
        margin-top: 15px;
        display: block;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    section#home #content #details #social_media .icon {
        color: var(--accent-color);
        font-size: 5rem;
    }

    @keyframes move {
        25% {
          transform: translatey(-45px);
          opacity: 1;
        }
        50% {
          transform: translatey(-91px);
        }
    }

    section#home #themes {
        bottom: 20px;
        right: 20px;
        /* display: inline-flex; */
        /* grid-template-columns: 1fr 4fr 2fr; */
        /* position: fixed; */
    }
    
    section#home #themes h1 {
        display: none;
    }
    
    section#home #themes .color-schemes {
        /* display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center; */
    }
    
    section#home #themes .color-schemes .color {
        /* width: 50px;
        height: 50px;
        background-color: chocolate;
        border-radius: 50%; */
    }

    /*============== Skills ==============*/

    section#skills .wraper .skillsets {
        margin: 50px 0;
        display: block;
    }

    section#skills .wraper .skillsets .icon-wraper {
        margin-bottom: 30px;
    }

    section#skills .wraper .skillsets .icon-wraper .title-icon {
        font-size: 33px;
        color: var(--accent-color);
    }

    section#skills .wraper .skillsets .icon-wraper h1 {
        margin-top: 5px;
        font-size: 25px;
    }

    section#skills .wraper .skillsets .icon-wraper .icon {
        font-size: 55px;
        background-color: var(--background-color);
        padding: 0;
    }

    /*============== Projects ==============*/
    section#projects {
        height: auto;
    }

    section#projects .wraper #projects_card {
        display: block;
        height: auto;
        margin: 40px 0;
    }

    section#projects .wraper #projects_card .card {
        margin-top: 20px;
        width: 100%;
        height: 35vh;
    }
}