/*@import url('https://db.onlinewebfonts.com/c/9b62dc86f936227b3f7b367bd0b6c05e?family=Tw+Cen+MT');*/

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    /* overflow-y: hidden; */
}   

html::-webkit-scrollbar {
    display: none;
}

:root {
    --default-white-color: #ffffff;
    --default-black-color: #000000;
    --home-background-color: #0D0D0D;
    --skills-background-color: #CB1A2C;
    --projects-background-color: #1D1E4E;
}

@font-face {
    font-family: "Aadil";
    src: url("Fonts/Aadil.ttf") format("truetype");
}


/*============== Body Globals ==============*/

section {
    width: 100vw;
    height: 100vh;
}

section#home {
    background-color: var(--home-background-color);
}

section#skills {
    background-color: var(--home-background-color);
}

section#projects {
    background-color: var(--home-background-color);
}

.wraper {
    width: 80%;
    margin: auto;
    padding-top: 120px;
}

.title {
    height: 250px;
    overflow: hidden;
    position: relative;
}

.front {
    color: var(--default-white-color);
    position: absolute;
    font-family: Open Sans;
    z-index: 2;
    top: 0.95em;
    left: 0.5em;
    font-size: 7rem;
}

.back {
    color: #1E1E1E;
    font-size: 18rem;
    font-family: Open Sans;
    position: relative;
    z-index: 1;
}

.urdu {
    color: #FAA916;
    position: absolute;
    font-family: Aadil;
    direction: rtl;
    font-size: 7rem;
    top: 0.95em;
    left: 3.5em;
    z-index: 1;
}

/*============== Home ==============*/
section#home header {
    width: 100%;
    position: fixed;
    z-index: 3;
}
section#home header #header_wraper {
    width: 80%;
    margin: auto;
    padding: 40px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
}

section#home header #header_wraper h2 {
    color: var(--default-white-color);
    font-family: Tw Cen MT;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}
section#home header #header_wraper #menu {
    display: grid;
    justify-items: end;
}
section#home header #header_wraper #menu li {
    display: inline-block;
    margin: 0 40px 0 40px;
    font-family: Tw Cen MT;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

section#home header #header_wraper #menu ul li a {
    color: var(--default-white-color);
    text-decoration: none;
}

section#home #content {
    width: 60%;
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    /*justify-items: center;*/
    align-content: center;
    align-items: center;
}

section#home #content #profile_picture {
    width: 100%;
    height: 400px;
    background-color: #1E1E1E;
    border-radius: 10px;
}

section#home #content #details {
    width: 100%;
    height: 400px;
    /*background-color: lightgoldenrodyellow;*/
    display: grid;
    grid-template-columns: 3fr 1fr;
    /*justify-items: center;*/
    align-items: center;
    color: #ffffff;
}

section#home #content #details #bio {
    margin-left: 50px;
    font-family: Open Sans;
}

section#home #content #details #bio #name {
    color: #0079BF;
    font-family: Tw Cen MT;
    font-size: 50px;
}

section#home #content #details #bio #job {
    margin-top: 5px;
}

section#home #content #details #bio #based {
    font-size: 22px;
}

section#home #content #details #bio #based span#country {
    color: #009688;
    font-family: Tw Cen MT;
    font-size: 25px;
    text-transform: uppercase;
}

section#home #content #details #bio button {
    width: 100px;
    height: 40px;
    font-family: Tw Cen MT;
    font-size: 22px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 45px;
}

section#home #content #details #bio button:hover {
    cursor: pointer;
}

section#home #content #details #bio #contact_me {
    width: 130px;
    color: #007BC2;
}

section#home #content #details #bio #resume {
    background-color: #009688;;
    color: var(--default-white-color);
    margin-left: 20px;
}

section#home #content #details #social_media {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

section#home #content #details #social_media .icon {
    font-size: 2.5rem;
    margin: 15px;
}

section#home #content #details #social_media .icon:hover {
    cursor: pointer;
}


/*============== Skills ==============*/

section#skills .wraper .skillsets {
    /*background-color: rebeccapurple;*/
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

section#skills .wraper .skillsets .icon-wraper .title-icon {
    font-size: 55px;
    color: var(--default-white-color);
}

section#skills .wraper .skillsets .icon-wraper h1 {
    font-family: Open Sans;
    font-size: 32px;
    color: var(--default-white-color);
    margin-top: 15px;
}

section#skills .wraper .skillsets .icon-wraper .icon {
    color: var(--default-white-color);
    font-size: 60px;
    background-color: #1E1E1E;
    padding: 20px;
    border-radius: 10px;
}

section#skills .wraper .skillsets .icon-wraper i:not(i:nth-of-type(1), i:nth-of-type(2)) {
    margin: 15px 0 0 20px;
}

/*============== Projects ==============*/

section#projects .wraper .title .urdu {
    left: 5em;
}

section#projects .wraper #projects_card {
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

section#projects .wraper #projects_card .card {
    padding: 20px;
    width: 230px;
    height: 350px;
    text-align: center;
    border-radius: 10px;
    background-color: #1E1E1E;
}

section#projects .wraper #projects_card .card .cover {
    height: 20vh;
}

section#projects .wraper #projects_card .card .details-options {
    height: 10vh;
}

section#projects .wraper #projects_card .card .details-options h2 {
    color: var(--default-white-color);
    font-family: Open Sans;
    font-weight: bold;
    text-align: justify;
}

section#projects .wraper #projects_card .card .details-options button {
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 0 15px;
    margin: 20px 0 0 0;
    font-size: 15px;
    font-family: Open Sans;
    font-weight: bold;
    color: var(--default-white-color);
    background-color: var(--default-black-color);
}

section#projects .wraper #projects_card .card .details-options button:hover {
    cursor: pointer;
}